<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941049598862-3jk62v7sik8i48dj6rsvsolribkju8k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941049598862-3jk62v7sik8i48dj6rsvsolribkju8k9</string>
	<key>API_KEY</key>
	<string>AIzaSyDFziiqPvvktI20Ycaz7MAA6KmQ31-e71k</string>
	<key>GCM_SENDER_ID</key>
	<string>941049598862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliffchan.manwareader.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>our-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>our-reader.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941049598862:ios:11be59f4cd2172e8b4cadf</string>
	<key>DATABASE_URL</key>
	<string>https://our-reader-default-rtdb.firebaseio.com</string>
</dict>
</plist>